*{
	scroll-behavior: smooth;
}

.landingPage_PartA{
	background-image: url(../../assets/Background2.png);
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}

.landingPage_navbar{
	display: flex;
	list-style-type: none;
	padding-top: 45px;
	justify-content: flex-end;
	margin-right: 100px;
	
}

.landingPage_navbar li{
	font-family: oswald;
	margin-left: 16px;
	font-size: 30px;
	font-weight: 300;
	
}

.landingPage_navbar li a{
	text-decoration: none;
}

.landingPage_navlink{
	color: #092B69;
	background-color: #ffffff;
	border-radius: 32px;
	padding: 3px 46px 6px 46px;
	margin-left: 23px;
}

.landingPage_presentation{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: -40px;
}

.landingPage_presentation img{
	width: fit-content;
	height: fit-content;
}

.landingPage_presentation b {
	font-size: 40px;
	text-align: center;
	font-weight: normal;
	width: 712px;
}

.landingPage_scroller{
	display: flex;
	flex-direction: column;
	align-self: center;
	align-items: center;
	width: fit-content;
	transition: all 0.4s;
}

.landingPage_scroller:hover{
	transform: scale(1.05);
}

.landingPage_scroller a {
	font-size: 40px;
	font-weight: normal;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
}

.landingPage_scroller a img {
	width: fit-content;
}

.landingPage_PartB{
	background-color: #092B69;
	color: #ffffff;
	padding: 70px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.landingPage_whatDenver{
	font-size: 90px;
	font-weight: normal;
}

.landingPage_whatDenverRes{
	width: 1096px;
	text-align: center;
	font-size: 35px;
	font-weight: 300;
}

.landingPage_PartC{
	background-color: #F3F3F3;
	padding: 80px 126px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.landingPage_efficiency{
	display: flex;
	flex-direction: column;
	
}

.landingPage_efficiencyTittle{
	color: #00A2D8;
	font-size: 90px;
	font-weight: normal;
	align-self: flex-start;
}

.landingPage_efficiencyRes{
	color: #010101;
	align-self: center;
	font-size: 35px;
	font-weight: 200;
	width: 853px;
}

.landingPage_PartD{
	background-color: #F3F3F3;
	padding: 80px 126px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.landingPage_about{
	display: flex;
	flex-direction: column;
	
}

.landingPage_aboutTittle{
	color: #00A2D8;
	font-size: 90px;
	font-weight: normal;
}

.landingPage_aboutRes{
	color: #010101;
	align-self: center;
	font-size: 35px;
	font-weight: 200;
	width: 800px;
}

.landingPage_PartE{
	background-color: #092B69;
	color: #F3F3F3;
	padding: 60px 215px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}

.landingPage_whoWe{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.landingPage_whoWeTittle{
	font-size: 90px;
	font-weight: normal;
}

.landingPage_whoWeRes{
	font-size: 35px;
	font-weight: 300;
	text-align: center;
}

.landingPage_whoWeImagesOverlay{
	background-color: #ffffff;
	border-radius: 64px;
	padding: 60px 126px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	
}

.landingPage_whoWeImagesPartA{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.landingPage_whoWeImagesPartA img{
	width: min-content;
	height: min-content;
}

.landingPage_whoWeImage2{
	margin-top: 60px;
}

.landingPage_whoWeImagesPartB{
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.landingPage_whoWeImagesPartB img{
	width: min-content;
	height: min-content;
}

.landingPage_whoWeImage4{
	margin-bottom: 60px;
}