.SideBarOverlay{
    position: absolute;
    top: 80px;
    right: 0px;
    width: fit-content;
    height: fit-content;
    font-family: Oswald;
}

.SideBar{
    width: max-content;
    height: 93vh;
    overflow: hidden;
    border: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.SideBar ul li{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.SideBar ul li a{
    text-decoration: none;
    color: #092B69;
    font-size: 30px;
    padding: 10px 40px;
}

.SideBar ul li a:hover{
    background-color: rgba(0, 0, 0, 0.05);
}