.SideBarOverlay{
    position: absolute;
    top: 80px;
    right: 0px;
    width: fit-content;
    height: fit-content;
    font-family: Oswald;
}

.SideBar{
    width: 360px;
    height: min-content;
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}