.VideoPreviewMainPage{
    display: inline-flex;
    margin-left: 10px;
    margin-right: 10px;
}

.VideoPreviewMainPage div{
    display: flex;
    flex-direction: column;
}

.VideoPreviewMainPage div button{
    width: 256px;
    height: 144px;
    border: 1px solid;
    display: flex;
    justify-content: center;
}

.VideoPreviewMainPage button img{
    align-self: center;
}

.VideoPreviewMainPage div div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
}

b.videoTitle{
    margin-left: 10px;
    font-weight: normal;
    font-size: 22px;
    color: #6B6B6B;
    width: fit-content;
}

b.videoDescription{
    font-weight: normal;
    font-size: 18px;
    color: #9F9D9D;
    align-self: center;
    width: fit-content;
}

b.videoPercentage{
    font-weight: normal;
    font-size: 22px;
    color: #EC2222;
    align-self: center;
    width: fit-content;
}

b.videoPercentageAccept{
    font-weight: normal;
    font-size: 22px;
    color: #00A2D8;
    align-self: center;
    width: fit-content;
}